/* FeatureSection.css */

.card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.card {
    flex: 1;
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    text-align: center; /* Centra el contenido */
    color: #ffffff; /* Cambia el color del texto a blanco */
    background-color: rgba(108, 91, 123, 0.5);
}

.card:hover {
    background-color: rgba(162, 155, 254, 0.5);
}

/* Estilos para los iconos SVG */
.icon {
    width: 46px;
    height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
}


/* Media query para hacer las tarjetas responsivas */
@media screen and (max-width: 768px) {
    .card-container {
        flex-direction: column; /* Cambia la dirección de flexión a columna en dispositivos con una pantalla de 768px o menos */
    }
    .card {
        max-width: 100%; /* Ajusta el ancho máximo de la tarjeta al 100% en dispositivos con una pantalla de 768px o menos */
        margin-bottom: 1rem; /* Agrega un espacio entre tarjetas en dispositivos móviles */
    }
}
