/* header.css */

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.HeaderLeft {
  display: flex;
  align-items: center;
}

.HeaderRight {
  display: flex;
  align-items: center;
}

.Logo {
  width: 50px; /* Ancho deseado del logo */
  height: auto; /* Autoajustar la altura para mantener la proporción */
}

.HeaderTitle {
  margin: 0;
  font-size: 1.5rem; /* Ajusta el tamaño del título según tu diseño */
  color: #FCF3CF; /* Cambia el color del texto del slogan a naranja */
}

.btn {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px; /* Espacio entre los botones */
}

.btn:hover {
  background-color: #555; /* Cambio de color al pasar el mouse */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .Header {
    flex-direction: column;
    padding: 0.5rem;
  }

  .HeaderLeft,
  .HeaderRight {
    margin-bottom: 0.5rem;
  }
}